{
	"extends": [
		"eslint:recommended",
		"plugin:astro/recommended",
		"eslint-config-standard"
	],
	"overrides": [
		{
			"files": [
				"*.astro"
			],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"extraFileExtensions": [
					".astro"
				]
			}
		}
	],
	"rules": {
		"indent": [
			"warn",
			2
		],
		"quotes": [
			"warn",
			"double"
		],
		"space-before-function-paren": [
			"warn",
			{
				"anonymous": "always",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"comma-dangle": [
			"warn",
			"only-multiline"
		],
		"camelcase": [
			"warn",
			{
				"ignoreDestructuring": true
			}
		],
		"no-tabs": [
			"warn",
			{
				"allowIndentationTabs": true
			}
		],
		"multiline-ternary": "off",
		"semi": [
			"warn",
			"always"
		]
	},
	"env": {
		"browser": true
	}
}