* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

a:-webkit-any-link {
  color: currentColor;
}