@import url("../styles/reset.css");

/* Space Grotesk font */
@font-face {
  font-family: "Space Grotesk";
  src: url('/fonts/SpaceGrotesk.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

/* Nunito Sans font */
@font-face {
  font-family: "Nunito Sans";
  src: url('/fonts/NunitoSans.woff2') format('woff2');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --palette-black: #1d1f23;
  --palette-white: #fafafa;
  --palette-grey: #6565652e;
  --palette-neon-green: #00ff31;
  --palette-neon-blue: #5b5bfa;
  --font-family-text: "Space Grotesk", sans-serif;
  --font-family-title: "Nunito Sans", sans-serif;
  --border-radius-min: 4px;
  --border-radius-med: 6px;
  --border-radius-max: 32px;
  --current-text-theme: light-dark(var(--palette-black), var(--palette-white));
  --current-background-theme: light-dark(var(--palette-white), var(--palette-black));
  --current-neon-theme: light-dark(var(--palette-neon-blue), var(--palette-neon-green));
  --neon-text-variant: color-mix(in srgb,
      var(--palette-white) 20%,
      var(--current-neon-theme));
  --display-icon-dark: block;
  --display-icon-light: none;
  --reading-text-color: light-dark(var(--palette-black), color-mix(in srgb, gray 20%, var(--palette-white)));

  color-scheme: light dark;
}