<section class="languages">
  <h1 class="subtitle">Idiomas</h1>

  <ul class="languages-list">
    <li>Inglés (B1 - B2)</li>
  </ul>
</section>

<style>
  .languages {
    & .languages-list {
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
    }
  }
</style>
