<section class="summary-wrapper">
  <p>
    Desde el <strong>año 2017</strong> vengo con mi trayectoria en el mundo del
    <strong>desarrollo de software</strong>, mejorando continuamente mis
    habilidades y aumentando mis conocimientos, mi actitud se basa en ser algo
    reservado, pero también persistente, resiliente, tolerante y empático.
    Siempre trato de estar en disposición de <strong>ayudar</strong> a los demás
    para así lograr resultados sobresalientes.
  </p>
</section>

<style>
  .summary-wrapper {
    font-size: var(--paragraph-size);
  }
</style>
