---
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Knowledge from "../components/Knowledge.astro";
import Projects from "../components/Projects.svelte";
import "../styles/global.css";
import { urlDomain } from "./../utils/const";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portafolio ● Sebastian Cortes" />
    <title>&#x25cf; Sebastian Cortes &#x25cf;</title>
    <link rel="icon" type="image/svg+xml" href="/man-technologist.svg" />

    <link
      rel="preload"
      href="/fonts/space_grotesk/SpaceGrotesk-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/nunito_sans/NunitoSans10pt-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/nunito_sans/NunitoSans10pt-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/nunito_sans/NunitoSans10pt-Black.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="canonical" href=`${urlDomain}` />
    <meta property="og:url" content=`${urlDomain}` />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Sebastian Cortes ● Desarrollador web front-end"
    />
    <meta property="og:description" content="Portafolio" />
    <meta property="og:image" content="/og-image.webp" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content=`${urlDomain}` />
    <meta
      name="twitter:title"
      content="Sebastian Cortes ● Desarrollador web front-end"
    />
    <meta name="twitter:description" content="Portafolio" />
    <meta name="twitter:image" content="/og-image.webp" />
    <meta http-equiv="Content-Encoding" content="gzip" />
    <meta name="color-scheme" content="light dark" />
  </head>

  <body>
    <Header />

    <main>
      <Home />
      <About />
      <Knowledge />
      <Projects client:visible />
    </main>
  </body>
</html>

<style>
  :root {
    --palette-black: #202124;
    --palette-white: #fafafa;
    --palette-grey: #6565652e;
    --palette-neon-green: #00ff00;
    --palette-neon-blue: #5b5bfa;
    --font-family-text: "Space Grotesk", sans-serif;
    --font-family-title: "Nunito Sans", sans-serif;
    --border-radius-min: 4px;
    --border-radius-med: 6px;
    --border-radius-max: 32px;
    --current-text-theme: var(--palette-black);
    --current-background-theme: var(--palette-white);
    --current-neon-theme: var(--palette-neon-blue);
    color-scheme: light; /* In the momeny just work for the scrollbar color theme */

    &:has(#dark-mode-button:checked) {
      color-scheme: dark;
      --current-text-theme: var(--palette-white);
      --current-background-theme: var(--palette-black);
      --current-neon-theme: var(--palette-neon-green);
    }

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
      --current-text-theme: var(--palette-white);
      --current-background-theme: var(--palette-black);
      --current-neon-theme: var(--palette-neon-green);

      &:has(#dark-mode-button:checked) {
        color-scheme: light;
        --current-text-theme: var(--palette-black);
        --current-background-theme: var(--palette-white);
        --current-neon-theme: var(--palette-neon-blue);
      }
    }
  }

  html {
    scroll-behavior: smooth;

    & body {
      font-family:
        "Space Grotesk",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      display: grid;
      padding-bottom: 80px;
      transition-duration: 0.2s;
      transition-property: color, background-color;
      transition-timing-function: ease;
      background-color: var(--current-background-theme);
      color: var(--current-text-theme);

      & > :global(*) {
        padding-inline: 16px;
      }

      & main {
        --section-scroll-margin-top: 11rem;
        max-width: 80ch;
        justify-self: center;
        width: 100%;
        display: grid;
        gap: 160px;

        @media (width >= 640px) {
          --section-scroll-margin-top: 5rem;
        }

        & :global(section[id]) {
          scroll-margin-top: var(--section-scroll-margin-top);

          & :global(.section-title) {
            font-size: 2rem;
            font-weight: bold;
            font-family: var(--font-family-title);
          }
        }
      }
    }
  }
</style>

<script>
  import { darkMode, scrollMarginTopChecker } from "../utils/scripts";

  scrollMarginTopChecker();
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
      darkMode();
    });
  darkMode();
</script>
