---
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Knowledge from "../components/Knowledge.astro";
import Projects from "../components/Projects.svelte";
import Suggestions from "../components/Suggestions.astro";
import "../styles/global.css";
import { urlDomain } from "./../utils/const";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portafolio ● Sebastian Cortes" />
    <title>&#x25cf; Sebastian Cortes &#x25cf;</title>
    <link rel="icon" type="image/svg+xml" href="/man-technologist.svg" />

    <link
      rel="preload"
      href="/fonts/space_grotesk/SpaceGrotesk-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/nunito_sans/NunitoSans10pt-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/nunito_sans/NunitoSans10pt-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/nunito_sans/NunitoSans10pt-Black.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="canonical" href=`${urlDomain}` />
    <meta property="og:url" content=`${urlDomain}` />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Sebastian Cortes ● Desarrollador web front-end"
    />
    <meta property="og:description" content="Portafolio" />
    <meta property="og:image" content="/og-image.webp" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content=`${urlDomain}` />
    <meta
      name="twitter:title"
      content="Sebastian Cortes ● Desarrollador web front-end"
    />
    <meta name="twitter:description" content="Portafolio" />
    <meta name="twitter:image" content="/og-image.webp" />
    <meta http-equiv="Content-Encoding" content="gzip" />
    <meta name="color-scheme" content="light dark" />
  </head>

  <body>
    <a
      href="https://librecounter.org/referer/show"
      target="_blank"
      class="counter"
    >
      <img
        src="https://librecounter.org/unique.svg"
        referrerpolicy="unsafe-url"
        width="0"
      />
    </a>

    <Header />

    <main>
      <Home />
      <About />
      <Knowledge />
      <Projects client:visible={{ rootMargin: "500px" }} />
      <Suggestions />
    </main>
  </body>
</html>

<script>
  import { darkMode } from "../utils/scripts";

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
      darkMode();
    });

  darkMode();
</script>
