---
import About from "@/components/sections/About.astro";
import Header from "@/components/Header.astro";
import Home from "@/components/sections/Home.astro";
import Knowledge from "@/components/sections/Knowledge.astro";
import Projects from "@/components/sections/Projects.svelte";
import Suggestions from "@/components/sections/Suggestions.astro";
import "@/styles/global.css";
import { urlDomain } from "@/utils/const";
import Experience from "@/components/sections/Experience.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portafolio ● Sebastian Cortes" />
    <title>&#x25cf; Sebastian Cortes &#x25cf;</title>
    <link rel="icon" type="image/svg+xml" href="/man-technologist.svg" />

    <link
      rel="preload"
      href="/fonts/SpaceGrotesk.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/NunitoSans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="canonical" href=`${urlDomain}` />
    <meta property="og:url" content=`${urlDomain}` />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Sebastian Cortes ● Desarrollador web front-end"
    />
    <meta property="og:description" content="Portafolio" />
    <meta property="og:image" content="/og-image.webp" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content=`${urlDomain}` />
    <meta
      name="twitter:title"
      content="Sebastian Cortes ● Desarrollador web front-end"
    />
    <meta name="twitter:description" content="Portafolio" />
    <meta name="twitter:image" content="/og-image.webp" />
    <meta http-equiv="Content-Encoding" content="gzip" />
    <meta name="color-scheme" content="light dark" />
  </head>

  <body>
    <a
      href="https://librecounter.org/referer/show"
      target="_blank"
      class="counter"
    >
      <img
        src="https://librecounter.org/unique.svg"
        referrerpolicy="unsafe-url"
        width="0"
      />
    </a>

    <Header />

    <main>
      <Home />
      <About />
      <Experience />
      <Projects client:load />
      <Knowledge />
    </main>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;

    /* Dark mode management */
    &:is([theme]) {
      &:is(html[theme="light"]) {
        --display-icon-dark: block;
        --display-icon-light: none;

        color-scheme: light;
      }

      &:is([theme="dark"]) {
        --display-icon-dark: none;
        --display-icon-light: block;

        color-scheme: dark;
      }
    }

    &:is(:not([theme])) {
      @media (prefers-color-scheme: light) {
        &:has(#dark-mode-button:checked) {
          --display-icon-dark: none;
          --display-icon-light: block;

          color-scheme: dark;
        }
      }

      @media (prefers-color-scheme: dark) {
        &:has(:not(#dark-mode-button:checked)) {
          --display-icon-dark: none;
          --display-icon-light: block;
        }

        &:has(#dark-mode-button:checked) {
          --display-icon-dark: block;
          --display-icon-light: none;

          color-scheme: light;
        }
      }
    }

    /* --- */

    & body {
      font-family:
        "Space Grotesk",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      transition: 0.2s ease;
      transition-property: color, background-color;
      background-color: var(--current-background-theme);
      color: var(--current-text-theme);
      display: grid;
      padding-bottom: 80px;
      position: relative;

      @media (pointer: coarse) {
        padding-bottom: 240px;
      }

      & > * {
        margin-inline: 16px;
      }

      & main {
        --section-scroll-margin-top: 5rem;

        max-width: 80ch;
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 160px;

        @media (pointer: coarse) {
          --section-scroll-margin-top: 16px;
        }

        & :global(section[id]) {
          scroll-margin-top: var(--section-scroll-margin-top);

          & :global(.section-title) {
            font-size: 2rem;
            font-weight: 900;
            font-family: var(--font-title);
            color: color-mix(
              in srgb,
              transparent 10%,
              var(--current-text-theme)
            );
            margin-bottom: 24px;
          }
        }
      }

      & .counter {
        display: none;
      }
    }
  }
</style>

<script>
  import { darkMode } from "../utils/scripts";

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
      darkMode();
    });

  darkMode();
</script>
