---
import "@fontsource/space-grotesk";
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Knowledge from "../components/Knowledge.astro";
import Projects from "../components/Projects.astro";
---

<style is:global>
  body,
  body > header,
  body > main {
    transition: 0.15s all ease;
  }

  body {
    margin: 0;
    background-color: palette.white;
    padding-bottom: 5rem;

    & main,
    & header {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    & main {
      display: grid;
      gap: 6xl;

      & section[id] {
        scroll-margin-top: 10vh;
      }
    }

    & a,
    & button,
    & span,
    & p,
    & h4,
    & h1,
    & h2,
    & section[id]::before,
    & small {
      color: palette.black;
    }

    & header {
      background-color: palette.white;
    }

    @media (sm) {
      & header,
      & main {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }

    @media (md) {
      & header,
      & main {
        padding-left: 10rem;
        padding-right: 10rem;
      }
    }

    @media (lg) {
      & header,
      & main {
        padding-left: 15rem;
        padding-right: 15rem;
      }
    }

    @media (xl) {
      & header,
      & main {
        padding-left: 20rem;
        padding-right: 20rem;
      }
    }
  }

  .dark {
    & body,
    & header {
      background-color: palette.black;
    }

    & a,
    & button,
    & span,
    & p,
    & h4,
    & h1,
    & h2,
    & section[id]::before,
    & small,
    & header {
      color: palette.white;
    }
  }

  section[id] {
    word-break: break-word;

    &::before {
      font-weight: bold;
      font-size: 2xl;
      display: block;
      font-family: mono;
    }
  }

  button,
  a,
  [data-class="card-projects"],
  [data-class="see-more-button-knowledge"],
  [data-class="favorites-button-knowledge"],
  [data-class="card-knowledge"],
  #darkModeButton {
    border-radius: 0.25rem;
  }
</style>

<style is:inline>
  html {
    visibility: hidden;
  }

  * {
    font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
    font-display: swap;
  }
</style>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Portafolio • Sebastian Cortes/loannesdev"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Portafolio &bull; Sebastian Cortes</title>
  </head>

  <body>
    <Header />

    <main>
      <Home />
      <About />
      <Knowledge />
      <Projects />
    </main>
  </body>
</html>

<script>
  const HEADER = document.querySelector("header");
  const SECTIONS = document.querySelectorAll("body > main > section[id]");
  const DARK_MODE_VALUE = localStorage.getItem("theme");
  const ELM = document.documentElement;

  const scrollMarginTopCalculation = () => {
    // function for control the "scroll-margin-top" style value when the header change their height
    Object.values(SECTIONS).forEach((elm) => {
      elm.style.scrollMarginTop =
        parseInt(window.getComputedStyle(HEADER).height) + 20 + "px";
    });
  };

  ["resize", "click", "touchend", "load"].forEach((elm) => {
    window.addEventListener(elm, scrollMarginTopCalculation);
  });

  // Dark mode
  document.getElementById("darkModeButton").addEventListener("click", () => {
    const MODE = ELM.className.includes("dark") ? "light" : "dark";

    ELM.setAttribute("class", MODE);
    localStorage.setItem("theme", MODE);
  });

  window.onload = () => {
    document.getElementsByTagName("html")[0].setAttribute("lang", "es");
    const VALUE = DARK_MODE_VALUE === "light" ? "light" : "dark";

    ELM.setAttribute("class", VALUE);
    localStorage.setItem("theme", VALUE);

    document.styleSheets[0].deleteRule(0); // remove "visibility" prop style to "visible"
  };
</script>
