---
import About from "@/components/sections/About.astro";
import Header from "@/components/Header.astro";
import Home from "@/components/sections/Home.astro";
import Knowledge from "@/components/sections/Knowledge.astro";
import Projects from "@/components/sections/Projects.svelte";
import "@/styles/global.css";
import Experience from "@/components/sections/Experience.astro";
import GeneralLayout from "@/layouts/GeneralLayout.astro";
---

<GeneralLayout>
  <a
    href="https://librecounter.org/referer/show"
    target="_blank"
    class="counter"
  >
    <img
      src="https://librecounter.org/unique.svg"
      referrerpolicy="unsafe-url"
      width="0"
    />
  </a>

  <Header />

  <main>
    <Home />
    <About />
    <Experience />
    <Projects client:only="svelte" />
    <Knowledge />
  </main>
</GeneralLayout>

<style>
  body {
    display: grid;
    padding-bottom: 80px;
    position: relative;

    @media (pointer: coarse) {
      padding-bottom: 240px;
    }

    & > * {
      margin-inline: 16px;
    }
  }

  main {
    --section-scroll-margin-top: 5rem;
    max-width: 80ch;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 20rem;

    @media (pointer: coarse) {
      --section-scroll-margin-top: 18px;
    }

    & :global(section[id]) {
      scroll-margin-top: var(--section-scroll-margin-top);

      & :global(.section-title) {
        margin-bottom: 24px;
        width: fit-content;

        & :global(a) {
          text-decoration: underline transparent;
          transition: text-decoration-color 0.4s ease;
          color: color-mix(in srgb, transparent 20%, var(--current-text-theme));
          font-size: 2.75rem;
          font-weight: 900;
          font-family: var(--font-title);
        }

        &:is(:hover, :focus-within, :active) {
          & :global(a) {
            text-decoration-color: var(--current-neon-theme);
          }
        }
      }
    }
  }

  .counter {
    display: none;
  }
</style>

<script>
  import { darkMode } from "../utils/scripts";

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
      darkMode();
    });

  darkMode();
</script>
