---
import "@fontsource/space-grotesk";
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Knowledge from "../components/Knowledge.astro";
import Projects from "../components/Projects.astro";
import "../styles/global.css";
---

<style>
  body > main > section[id] {
    scroll-margin-top: 10vh;
  }

  body > main {
    display: grid;
    gap: 4xl;
  }
</style>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio &bull; Sebastian Cortes</title>
  </head>

  <body>
    <Header />

    <main>
      <Home />
      <About />
      <Knowledge />
      <Projects />
    </main>
  </body>
</html>

<script>
  const HEADER = document.querySelector("header");
  const SECTIONS = document.querySelectorAll("body > main > section[id]");
  const CONTENT_READY = document.readyState === "interactive";

  const scrollMarginTopCalculation = () => {
    // function for control the "scroll-margin-top" style value when the header change their height
    Object.values(SECTIONS).forEach((elm) => {
      elm.style.scrollMarginTop =
        parseInt(window.getComputedStyle(HEADER).height) + 20 + "px";
    });
  };

  ["resize", "click", "touchend", "load"].forEach((elm) => {
    window.addEventListener(elm, scrollMarginTopCalculation);
  });

  const valueName = "theme";
  const darkModeValue = localStorage.getItem(valueName);
  const ELM = document.documentElement;

  // Dark mode
  const theme = () => {
    if (darkModeValue === "dark") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.removeAttribute("class");
    }

    if (!darkModeValue) {
      localStorage.setItem(valueName, "light");
    }
  };

  const toggleTheme = () => {
    ELM.classList.toggle("dark");

    const isDark = ELM.className.includes("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  document
    .getElementById("darkModeButton")
    .addEventListener("click", toggleTheme);

  if (CONTENT_READY) {
    theme();
    document.getElementsByTagName("html")[0].style.visibility = "visible"; // change "visibility" prop style to "visible"
  }
</script>
