---
import "@fontsource/space-grotesk";
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Knowledge from "../components/Knowledge.astro";
import Projects from "../components/Projects.astro";
---

<style is:global>
  body,
  body > main,
  body > header {
    transition: 0.15s all ease;
  }

  body {
    margin: 0;
    background-color: palette.white;
    padding-bottom: 5rem;

    & :is(main, header) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    & section[id],
    & header > [data-class="header-container"] {
      max-width: 75ch;
      justify-self: center;
    }

    & main {
      display: grid;
      gap: 6xl;
    }

    &
      :is(
        a,
        button,
        span,
        p,
        h4,
        h1,
        h2,
        [data-class="section-title"],
        small,
        header
      ) {
      color: palette.black;
    }
  }

  .dark {
    & body,
    & header {
      background-color: palette.black;
    }

    &
      :is(
        a,
        button,
        span,
        p,
        h4,
        h1,
        h2,
        [data-class="section-title"],
        small,
        header
      ) {
      color: palette.white;
    }
  }

  section[id] {
    word-break: break-word;

    & [data-class="section-title"] {
      font-weight: bold;
      font-size: 2xl;
      display: block;
      font-family: mono;
      margin: 0;
    }
  }

  button,
  a,
  [data-class="card-projects"],
  [data-class="see-more-button-knowledge"],
  [data-class="favorites-button-knowledge"],
  [data-class="card-knowledge"],
  #darkModeButton {
    border-radius: 0.25rem;
  }
</style>

<style is:inline>
  html {
    visibility: hidden;
  }

  * {
    font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
    font-display: swap;
  }
</style>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Portafolio • Sebastian Cortes" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Portafolio &bull; Sebastian Cortes</title>
  </head>

  <body>
    <Header />

    <main>
      <Home />
      <About />
      <Knowledge />
      <Projects />
    </main>
  </body>
</html>

<script>
  const HEADER = document.querySelector("header");
  const SECTIONS = document.querySelectorAll("body > main > section[id]");
  const DARK_MODE_VALUE = localStorage.getItem("theme");
  const ELM = document.documentElement;

  ["resize", "click", "touchend", "load"].forEach((elm) => {
    window.addEventListener(elm, () => {
      // Control the "scroll-margin-top" style value when the header change their height
      Object.values(SECTIONS).forEach((elm) => {
        elm.style.scrollMarginTop = getComputedStyle(HEADER).height;
      });
    });
  });

  // Dark mode
  document.getElementById("darkModeButton").addEventListener("click", () => {
    const MODE = ELM.className.includes("dark") ? "light" : "dark";

    ELM.setAttribute("class", MODE);
    localStorage.setItem("theme", MODE);
  });

  window.onload = () => {
    document.getElementsByTagName("html")[0].setAttribute("lang", "es");
    const VALUE = DARK_MODE_VALUE === "light" ? "light" : "dark";

    ELM.setAttribute("class", VALUE);
    localStorage.setItem("theme", VALUE);

    document.styleSheets[0].deleteRule(0); // remove "visibility" prop style to "visible"
  };
</script>
