---
import Header from "@/components/resume/Header.astro";
import GeneralLayout from "@/layouts/GeneralLayout.astro";
import Profile from "@/components/resume/Profile.astro";
import Summary from "@/components/resume/Summary.astro";
import Experience from "@/components/resume/Experience.astro";
import Knowledge from "@/components/resume/Knowledge.astro";
import Academic from "@/components/resume/Academic.astro";
import Languages from "@/components/resume/Languages.astro";
import { lookingForAJob } from "@/utils/const";

if (!lookingForAJob) {
  return Astro.redirect("/");
}
---

<GeneralLayout title="CV - Sebastian Cortes">
  <main>
    <a href="/" class="go-back" type="button">Ir al inicio</a>

    <Header />
    <Profile />
    <Summary />
    <Experience />
    <Knowledge />
    <Academic />
    <Languages />
  </main>
</GeneralLayout>

<style>
  /* Reset --- */
  :global(a) {
    color: currentColor;
  }
  /* --- */

  :root {
    color-scheme: light;
  }

  @media print {
    @page {
      size: auto;
      /* Remove header and footer from the printed page --- */
      margin-top: 0;
      margin-bottom: 0;
      /* --- */
      margin: 2mm 4mm;
      /* transform: scale(0.9); */
    }

    body {
      margin: 0;
      zoom: 90%;
    }
  }

  body {
    & main {
      --paragraph-size: 1.15rem;

      display: flex;
      flex-direction: column;
      padding: 32px;
      min-height: 100dvh;
      align-content: baseline;
      gap: 42px;
      max-width: 1024px;
      margin-inline: auto;
      background-color: var(--current-background-theme);
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

      & .go-back {
        font-family: var(--font-text);
        width: fit-content;
        padding: 6px 12px;
        border-radius: var(--border-radius-min);
        transition: 0.2s ease;
        transition-property: color, border-style, text-shadow;
        cursor: pointer;
        border: 1px dashed currentColor;
        background-color: transparent;
        text-decoration: none;

        @media print {
          display: none;
        }

        &:is(:hover, :focus) {
          color: var(--current-neon-theme);
          border-color: var(--current-neon-theme);
          border-style: solid;
          text-shadow: 0 0 16px var(--current-neon-theme);
        }
      }
    }
  }

  :global(.subtitle) {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
</style>

<script>
  document.addEventListener(
    "DOMContentLoaded",
    () => {
      const profilePhoto = document.querySelector("img.profile-photo");

      if (profilePhoto) {
        print();
        console.log("holi");
      }
    },
    { once: true },
  );

  window.onafterprint = () => {
    const isMobileDevice =
      /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
        navigator.userAgent,
      );
    const miliseconds = isMobileDevice ? 4000 : 50;

    setTimeout(() => {
      location.replace("/");
    }, miliseconds);
  };
</script>
