---
import { sections } from "../utils/info.json";
import Anchor from "./Anchor.astro";
---

<section id="about">
  <h2 class="section-title">{sections?.about?.text}</h2>

  <p>
    Soy alguien mayormente autodidacta, que busca solucionar problemas por si
    solo cuando se enfrenta a alguno, pero que se adapta bien a entornos
    colaborativos y/o equipos de trabajo, tolerante, respetuoso, resiliente y
    también con intensión de compartir su experiencia y ayudar al prójimo en lo
    que se pueda.
  </p>

  <br />

  <p>
    Tengo <b id="age"></b> y soy de <b>Cali, Colombia</b>, egresado del
    <Anchor url="https://www.sena.edu.co" goToAnotherWeb={true}>
      SENA (Servicio Nacional de Aprendizaje)
    </Anchor> de la tecnología/carrera
    <b>Análisis y desarrollo de sistemas de información</b>
    (aquí fue donde empezó mi historia en la programación).
  </p>
</section>

<style>
  section[id="about"] {
    & p {
      font-size: 1.2rem;
    }

    & a {
      color: currentColor;
    }
  }
</style>

<script>
  const CURRENT_DATE = new Date();
  const MY_DATE = new Date("1999/09/10");
  const YEARS = new Date(+CURRENT_DATE - +MY_DATE).getFullYear() - 1970;

  document.getElementById("age").textContent = `${YEARS} años`;
</script>
