---
import { readCV } from "../services.js";
import { sections } from "../utils/const";

const { name, text } = sections.find((elm) => elm.name === "about");

const {
  basics: { summary },
  interests,
} = await readCV();
---

<section id={name}>
  <section class="paragraph-container">
    <h1 class="section-title">{text}</h1>

    <Fragment set:html={summary} />
  </section>

  <section class="interests-container">
    <h2 class="interests-title">Algunos de mis intereses son:</h2>

    <div class="interests-tags">
      {
        interests.map(({ name }) => {
          return <colored-tag>{name}</colored-tag>;
        })
      }
    </div>
  </section>
</section>

<style>
  section[id] {
    display: grid;
    gap: 12px;

    & .paragraph-container {
      display: flex;
      flex-direction: column;
      gap: 24px;

      & > :global(p) {
        font-size: 1.2rem;
        text-wrap: pretty;
      }
    }

    & .interests-container {
      & .interests-title {
        font-family: var(--font-family-title);
        font-size: large;
      }

      & .interests-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        & colored-tag {
          border-radius: var(--border-radius-min);
          font-size: 14.5px;
          padding: 4px 12px;
          border: 1px solid currentColor;
          background-color: color-mix(
            in srgb,
            transparent 90%,
            var(--current-text-theme)
          );
          user-select: none;
        }
      }
    }

    & :global(strong),
    .interests-title {
      color: var(--neon-text-variant);
    }
  }
</style>

<script>
  import "./ColoredTag";
</script>
