---
import { sections } from "../utils/const";

const { summary } = Astro.props;
const {
  about: { name, text },
} = sections;
---

<section id={name}>
  <h2 class="section-title">{text}</h2>

  {
    summary.map((text, index) => {
      return (
        <>
          <p>{text}</p>
          {index + 1 !== summary.length ? <br /> : null}
        </>
      );
    })
  }
</section>

<style>
  section[id] {
    & p {
      font-size: 1.2rem;
    }

    & a {
      color: currentColor;
    }
  }
</style>
