---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  isExternalLink?: boolean;
}

const { isExternalLink, ...attributes } = Astro.props;
---

<a
  {...attributes}
  {...isExternalLink && { target: "_blank", rel: "noreferrer noopener" }}
>
  <slot />
</a>
