---
const { url, goToAnotherWeb = false, ...remainingProps } = Astro.props;

const props = {
  href: url,
  "aria-label": Astro.props["aria-label"],
  ...(goToAnotherWeb && { target: "_blank", rel: "noreferrer noopener" }),
  ...remainingProps,
};
---

<a {...props}>
  <slot />
</a>
