---
import { Icon } from "astro-icon";
import Bull from "../components/Bull.astro";

const socialMedia = [
  {
    link: "https://www.linkedin.com/in/sebastian-c-130476121",
    icon: "linkedin",
  },
  {
    link: "https://github.com/loannesdev",
    icon: "github",
  },
];

const navLinks = [
  {
    href: "#home",
    text: "Inicio",
  },
  {
    href: "#about",
    text: "Sobre mi",
  },
  {
    href: "#knowledge",
    text: "Tecnologías conocidas",
  },
  {
    href: "#proyects",
    text: "Proyectos personales",
  },
];
---

<style>
  header {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #202124;
    flex-wrap: wrap-reverse;
    position: sticky;
    top: 0;
    background-color: #fafafa;
  }

  header a {
    text-decoration: none;
    color: #202124;
  }

  header a:hover {
    text-decoration-line: underline;
  }

  .contact {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .contact > article {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }

  .social {
    display: flex;
    gap: 0.3rem;
  }

  .social > a {
    display: flex;
  }

  .social svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .index-list > ul {
    list-style: none;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    flex-wrap: wrap;
  }

  #darkModeButton {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  [astro-icon="ph:sun-duotone"],
  [astro-icon="ph:moon-duotone"] {
    height: 2rem;
    width: 2rem;
  }

  [astro-icon="ph:sun-duotone"] {
    display: none;
  }

  [astro-icon="ph:moon-duotone"] {
    color: #202124;
  }

  :global(.dark) > body header {
    border-bottom: 1px solid #fafafa;
    background-color: #202124;
  }

  :global(.dark) > body,
  :global(.dark) > body a {
    color: #fafafa;
  }

  :global(.dark) > body .social > a {
    fill: #fafafa;
  }

  :global(.dark) [astro-icon="ph:sun-duotone"] {
    color: yellow;
    display: block;
  }
  :global(.dark) [astro-icon="ph:moon-duotone"] {
    display: none;
  }
</style>

<header>
  <section class="contact">
    <button id="darkModeButton">
      <Icon name="ph:sun-duotone" />
      <Icon name="ph:moon-duotone" />
    </button>

    <article>
      <div class="social">
        {
          socialMedia.map((elm) => {
            return (
              <a href={elm.link} target="_blank" rel="noreferrer noopener">
                <Icon name={elm.icon} />
              </a>
            );
          })
        }
      </div>

      <Bull />

      <a href="/CV.pdf" download="CV - Sebastian Cortes.pdf"> Descargar CV</a>
    </article>
  </section>

  <nav class="index-list">
    <ul>
      {
        navLinks.map((elm, index, arr) => {
          return (
            <>
              <li>
                <a href={elm.href}>{elm.text}</a>
              </li>

              {index + 1 === arr.length ? null : <Bull />}
            </>
          );
        })
      }
    </ul>
  </nav>
</header>

<script>
  const valueName = "theme";
  const darkModeValue = localStorage.getItem(valueName);
  const ELM = document.documentElement;

  const theme = () => {
    if (darkModeValue === "dark") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.removeAttribute("class");
    }

    if (!darkModeValue) {
      localStorage.setItem(valueName, "light");
    }
  };

  const toggleTheme = () => {
    ELM.classList.toggle("dark");

    const isDark = ELM.className.includes("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  document
    .getElementById("darkModeButton")
    .addEventListener("click", toggleTheme);

  window.onload = () => {
    theme();
  };
</script>
