<section id="home">
  <h2 class="title-one">Soy<br />Sebastian Cortes,</h2>
  <h1 class="title-two">Programador web front-end</h1>
</section>

<style>
  section[id="home"] {
    display: grid;
    place-content: center;
    height: 80vh;
    word-break: break-word;

    & .title-one {
      font-size: 2rem;
    }

    & .title-two {
      font-size: 3.75rem;
      font-family: var(--font-family-title);
      font-weight: 900;
      animation: wave 12s infinite ease;
    }
  }

  @keyframes wave {
    0% {
      text-shadow: 0px 0px 64px currentColor;
    }
    50% {
      text-shadow: 16px 16px 16px currentColor;
    }
    100% {
      text-shadow: 0px 0px 64px currentColor;
    }
  }
</style>
