---
import { sections } from "../utils/const";

const {
  home: { name },
} = sections;
---

<section id={name}>
  <h2 class="title-one">Soy<br />Sebastian Cortes,</h2>
  <h1 class="title-two">Programador web front-end</h1>
</section>

<style>
  section[id] {
    display: grid;
    place-content: center;
    height: 80vh;

    & .title-one {
      font-size: 2rem;
    }

    & .title-two {
      font-size: 3.75rem;
      font-family: var(--font-family-title);
      font-weight: extrabold;
      color: currentColor;
      word-break: break-word;
    }
  }
</style>
