<style>
  section[id="home"] {
    display: grid;
    word-break: break-word;
    place-content: center;
    height: 90vh;
  }

  section[id="home"] > h1,
  section[id="home"] > h2 {
    margin: 0;
  }

  section[id="home"] > h1 {
    font-size: 4xl;
    font-weight: normal;
  }

  section[id="home"] > h2 {
    font-size: 5xl;
  }
</style>

<section id="home">
  <h1>Soy <br /> Sebastian Cortes,</h1>
  <h2>Programador/desarrollador web junior</h2>
</section>
