<style>
  section[id="home"] {
    display: grid;
    align-content: center;
    height: 90vh;

    & h1,
    & h2 {
      margin: 0;
    }

    & h1 {
      font-size: 3xl;
      font-weight: normal;
    }

    & h2 {
      font-size: 5xl;
      font-family: mono;
    }
  }
</style>

<section id="home">
  <h1>Soy <br /> Sebastian Cortes,</h1>
  <h2>Programador web front-end junior</h2>
</section>
