---
import { sections } from "../utils/const";

const {
  home: { name },
} = sections;
---

<section id={name}>
  <h2 class="title-one">Soy<br />Sebastian Cortes,</h2>
  <h1 class="title-two">Programador web front-end</h1>
</section>

<style>
  section[id] {
    display: grid;
    place-content: center;
    height: 80vh;
    word-break: break-word;

    & .title-one {
      font-size: 2rem;
    }

    & .title-two {
      font-size: 3.75rem;
      font-family: var(--font-family-title);
      font-weight: 900;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: var(--palette-black);
      color: var(--palette-grey);

      :is(.dark) & {
        -webkit-text-stroke-color: var(--palette-white);
      }
    }
  }
</style>
