<style>
  section[id="home"] {
    display: grid;
    align-content: center;
    height: 75vh;

    & h1,
    & h2 {
      margin: 0;
    }

    & h2 {
      font-size: 4xl;
      font-weight: normal;
    }

    & h1 {
      font-size: 6xl;
      font-family: mono;
    }
  }
</style>

<section id="home">
  <h2>Soy</h2>
  <h2>Sebastian Cortes,</h2>
  <h1>Programador web front-end</h1>
</section>
