<style>
  section[id="knowledge"] {
    display: grid;
    gap: 1.5rem;

    &::before {
      content: "Tecnologías conocidas";
    }
  }

  [data-class="card-container-knowledge"] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & a {
      padding: 0.5rem 0.3rem;
    }
  }

  [data-class="filters-knowledge"] {
    display: flex;
    justify-self: center;
    gap: 1rem;

    & button {
      transition: 0.1s all ease;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0.25rem 0.5rem;
      font-weight: semibold;
      border: 0.1rem solid transparent;

      &:hover,
      &:active {
        border-color: palette.black;
      }

      @nest :global(.dark) & {
        &:hover, &:active {
          border-color: palette.white;
        }
      }
    }
  }

  :global([data-class="img-icon-knowledge"]) {
    height: 3rem;
    width: 3rem;
  }

  :global([data-class="card-knowledge"]) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    padding: 0.3rem;
    transition: 0.1s all ease;
    border: 0.1rem solid transparent;

    &:hover {
      border-color: palette.grey;
      text-shadow: 1px 1.5px 2px var(--color-palette-grey);
    }

    &:active {
      background-color: palette.grey;
    }
  }

  [data-class="card-title-knowledge"] {
    word-break: break-word;
  }
</style>

<section id="knowledge">
  <div data-class="filters-knowledge">
    <button type="button" data-class="see-more-button-knowledge">Ver más</button
    >
    <button type="button" data-class="favorites-button-knowledge"
      >Favoritos</button
    >
  </div>

  <techs-container data-class="card-container-knowledge"></techs-container>
</section>

<script>
  import { technologies } from "../utils/info.json";
  import { $ } from "../utils/myScripts";

  const SEE_MORE_BUTTON = $("[data-class='see-more-button-knowledge']");
  const FAVORITES_BUTTON = $("[data-class='favorites-button-knowledge']");
  technologies.reverse();

  // Custom web component
  class TechsContainer extends HTMLElement {
    constructor() {
      super();
      this.render();
    }

    render() {
      let STATES = {
        seeFavorites: false,
        seeAll: false,
      };
      let DATA = technologies.slice(0, 14);
      // Proxy for detect change of "STATES" object
      const SWITCHER = new Proxy(STATES, {
        set: (target, key, value) => {
          target[key] = value;

          DATA = STATES.seeAll ? technologies : technologies.slice(0, 14);
          DATA = STATES.seeFavorites
            ? DATA.filter((elm) => elm.fav === true)
            : DATA;
          MyRender();

          return true;
        },
      });

      const MyRender = () => {
        this.textContent = "";

        DATA.forEach((elm, index) => {
          const ANCHOR = document.createElement("a");
          ANCHOR.setAttribute("href", elm.website);
          ANCHOR.setAttribute("target", "_blank");
          ANCHOR.setAttribute("rel", "noreferrer noopener");
          ANCHOR.setAttribute("key", `${index}`);
          ANCHOR.setAttribute("data-class", "card-knowledge");

          if (elm.icon_name) {
            const IMG = document.createElement("img");
            IMG.setAttribute("src", `/icons/${elm.icon_name}.svg`);
            IMG.setAttribute("data-class", "img-icon-knowledge");

            ANCHOR.appendChild(IMG);
          }

          const SPAN = document.createElement("span");
          SPAN.setAttribute("data-class", "card-title-knowledge");
          SPAN.textContent = elm.name;
          ANCHOR.appendChild(SPAN);

          this.appendChild(ANCHOR);
        });
      };

      SEE_MORE_BUTTON.addEventListener("click", (elm) => {
        SWITCHER.seeAll = !STATES.seeAll;
        elm.target.textContent = !STATES.seeAll ? "Ver más" : "Ver menos";
      });

      FAVORITES_BUTTON.addEventListener("click", (elm) => {
        SWITCHER.seeFavorites = !STATES.seeFavorites;
        elm.target.textContent = !STATES.seeFavorites
          ? "Favoritos"
          : "Dejar de ver favoritos";
      });

      MyRender();
    }
  }

  customElements.define("techs-container", TechsContainer);
  // End custom web component
</script>
