---
import KnowledgeContent from "./KnowledgeContent";
---

<style>
  section[id="knowledge"] {
    display: grid;
    gap: 1.5rem;
  }

  section[id="knowledge"]::before {
    content: "Tecnologías conocidas";
  }

  :global(.dark) :global([data-class="see-more-button-knowledge"]),
  :global(.dark) :global([data-class="favorites-button-knowledge"]) {
    color: #fafafa;
  }
</style>

<section id="knowledge">
  <KnowledgeContent client:only="react" />
</section>
